          body{
         height:1500px;
         }
         #top{
         width:100%;
         height: 100%;;
         border:1px solid rgb(77, 77, 77);
         box-shadow: 6px 4px 5px rgb(160, 160, 160);;
         border-radius:15px;
         background-color: #c7c3c3;
         }
         #monitor{
         margin-left:500px;
         width:800px;
         height:560px;
         transform: perspective(115cm) rotateX(-0.5deg) rotateZ(1.5deg) rotateY(-39deg);position: relative;
         top:100px;
         left:155px;

         }
         #screen{
         height:510px;
         width: 750px;
         margin-top: 25px;
         margin-left: 25px;
         position: absolute;
         background-color: #fafafa;
         }
         .key{
         background-color:#000;
         color:#fff;
         width:35px;
         height:30px;
         text-align:center;
         border-radius:8px;
         display:inline-block;
         margin-top:2px;
         box-shadow: 3px 3px 3px rgba(0, 0, 0,0.75);
         }
         #tab{
         width:65px;
         }
         .key  span{
         position:relative;
         top:5px;
         display: inline-block;
         vertical-align: middle;
         }
         #bottom{
         width:800px;
         height:560px;
         border-radius:15px;
         /*transform: perspective(45cm) rotateX(90deg) rotateY(55deg);transform:perspective(40cm)  rotateY(-60deg) rotateX(40deg) ;*/
         background:linear-gradient(-130deg, #7e7c7c, #fbfbfb,#7e7c7c,#fbfbfb);
         box-shadow: 8px 10px 5px #555454;
         margin-left:500px;
         float: left;
         transform: perspective(40cm) rotateX(40deg) rotateZ(30deg) rotateY(-20deg);
         }
         #numpad,#keyboard {
         float:left;
         }
         #numpad {
         margin-left:10px;
         }
         #prt_scr{
         width:50px;
         }
         #wrapper{
         transform: rotateX(10deg)  ;
         }
         .f{
         width:33.5px;
         height: 30px;
         }
         .f span{
         position:relative;
         top:5px;
         display: inline-block;
         vertical-align: middle;
         }
         .backspace{
         width:72px;
         }
         .caps_lock{
         width:70px;
         }
         #enter{
         width:78px;
         }
         #shift{
         width:85px;
         }
         #shift-r{
         width:101px;
         }
         #space{
         width: 230px;
         }
         #keyboard_wrapper{
         padding-left: 20px; 
         padding-top: 20px;
         }
         #top_of_keyboard_wrapper{
         padding: 20px;
         }
         #power_btn{
         display: inline-block;
         padding: 3px;
         border-radius: 50%;
         }
         .hinge{
         display:inline-block;
         background-color: #636060;
         width: 50px;
         border-radius: 10px;
         height: 15px;
         }
         #hinge_right{
         position: absolute;
         right: 60px;
         }
         #hinge_left{
         margin-left:60px;
         }
         .navi_item{
         text-align: center;
         float: left;
         margin-right: 10px;
         }
         #navbar{
         margin-top: 5px;
         padding-left: 10px;
         }
         #browser{
         width: 100%;
         background-color: #555;
         position: relative;
         }
         #close_sym{
         color:#fff;
         background-color: #ff0000;
         padding:2px 4px 2px 4px;
         float: right;
         }
         #browser_tab{
         display: inline-block;
         color: #fff;
         background-color: #111;
         border-radius: 10px;
         padding:2px 15px 2px 15px;
         }
         #url{
         background-color: #fff;
         width: 80%;
         padding-left: 10px;
         margin-bottom: 5px;
         display: inline-block;
         }
         .url_btn{
         display: inline-block;
         color:#fff;
         padding: 2px;
         }
         .container{
         padding:10px;
         }
         #left-box{
         background-color: #fff;
         width:160px;
         color:#000;
         border:1px solid #000;
         font-size: 13pt;
         text-align: center;
         float: left;
         }
         #right-box{
         background-color: #fff;
         width:400px;
         color:#000;
         border:1px solid #000;
         font-size: 13pt;
         text-align: left;
         float: left;
         margin-left: 25px;
         padding:20px 10px 20px 10px;
         }
         #post{
         background-color: #fff;
         width:400px;
         color:#000;
         border:1px solid #000;
         font-size: 13pt;
         text-align: left;
         float: left;
         margin-left: 25px;
         margin-top: 20px;
         padding: 10px;
         }
         .profile_picture{
         border-radius: 50%;
         display: inline-block;
         }
         #pp_1{
         width: 50px;
         margin-left: 0px;
         }
         #pp_2{
         width: 45px;
         }
         textarea{
         display: inline-block;
         width: 80%;
         }
         #taskbar{
         width: 100%;
         background-color: #111;
         height: 22px;
         position: absolute;
         bottom: 0;
         font-size: 18pt;
         color:#fff;
         padding: 5px 0px 5px 0px;
         }
         .taskbar_item{
         
         margin-left: 15px;
         }

         #clock{
            margin-right: 15px;
         }

         #touchpad{
            border:1px solid #000;
             width:250px;height:150px;
             margin-top:60px;
             background-color:#cccccc;
             display:inline-block; 
             border-radius:10px;
         }